body {
  text-align: center;
  position: relative;
  background-color:
}

a {
  text-decoration: none !important
}

h1 {
  font-size: 2.5em;
  margin-top: 40vh;
  font-family: "Courier New", monospace;
}

h2 {
  font-size: 3rem;
}

#buttons button {
  background-color: #ffffff;
}

#buttons {
  position: fixed;
  top: 10px;
  right: 40px;
}

#socialmedia {
  font-size: 48px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#socialmedia li {
  display: inline;
}

.sociallink {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

#cursor {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
